/* NAVIGATION BAR */

nav {
  background-color: rgba(1, 0, 5, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  color: rgb(207, 245, 17);
  font-size: larger;
  padding-left: 60px;
}

.dropdown-item {
  background-color: rgb(31, 38, 57, 0.7);
  color: rgb(207, 245, 17);
  text-align: center;
  font-weight: 600;
  font-size: larger;
}

.nav-item {
  transition: 0.3s;
}

.nav-item:hover {
  background-color: rgb(240, 240, 233);
  transition: 0.3s;
}

#navbar-logo {
  width: 60px;
  height: 50px;
  border-radius: 20px;
}

.navbar-brand {
  width: fit-content;
}

#login,
.navbar-btn,
#submit-button,
#forward-to-login-btn {
  border: solid;
  border-color: black;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(109, 152, 198);
  color: black;
  font-size: larger;
  font-weight: 600;
}

/* BACKGROUND */

body {
  background-image: url(img/global_img/utilities_and_energy_crm.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cover {
  background-size: 100% 100%;
}

/* GLOBAL ENTRIES */

.field-title1 {
  background-color: rgb(31, 38, 57, 0.7);
  font-size: xx-large;
  color: aliceblue;
  border-radius: 10px;
  width: max-content;
  clear: both;
  margin: auto;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.field-title2 {
  background-color: rgb(31, 38, 57, 0.7);
  font-size: xx-large;
  color: aliceblue;
  border-radius: 10px;
  width: max-content;
  clear: both;
  margin: auto;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.field-title3 {
  background-color: rgb(31, 38, 57, 0.7);
  border-radius: 10px;
  font-size: xx-large;
  color: aliceblue;
  width: max-content;
  clear: both;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.units {
  font-size: large;
  color: aliceblue;
  border-color: black;
  background-color: rgb(31, 38, 57, 0.7);
  display: flex;
  width: 700px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-left: 5px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.desc-pic {
  display: flex;
  width: 40%;
  filter: invert();
  vertical-align: top;
  margin: auto;
}

/* Anchor Link To Sections */

.anchorlinks {
  background-color: rgb(31, 38, 57);
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: xx-large;
  text-decoration: none;
  margin-top: 30px;
}

/*Anchor Link To Top */

#anchorlinktop {
  color: aliceblue;
  width: 260px;
  height: 32px;
  font-size: larger;
  font-weight: 400;
  margin: auto;
  text-align: center;
  display: table;
  border-radius: 25px;
  background-color: rgb(31, 38, 57);
}

#up-arrow1 {
  width: 30px;
  height: 30px;
  filter: invert();
  display: flex;
  float: left;
  padding-left: 5px;
}

#up-arrow2 {
  width: 30px;
  height: 30px;
  filter: invert();
  display: flex;
  float: right;
  padding-right: 5px;
}

/* Cutter */

hr.rounded {
  border-top: 8px solid #000000;
  border-radius: 5px;
  opacity: 1;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* INDEX - MAIN PAGE */

#motto {
  color: aliceblue;
  font-size: xx-large;
  font-weight: 800;
  background-color: rgb(31, 38, 57, 0.7);
  width: fit-content;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
  border-radius: 20px;
  padding: 15px;
  font-style: italic;
}

#motto-comment {
  background-color: rgb(31, 38, 57, 0.7);
  color: aliceblue;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  width: fit-content;
  padding: 5px;
  margin: auto;
  border-radius: 10px;
}

.idx-desc {
  color: aliceblue;
  font-size: x-large;
  font-weight: 600;
  background-color: rgb(31, 38, 57, 0.7);
  border-style: solid;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  text-align: center;
}

.cheap {
  width: 50%;
}

.beer {
  width: 60%;
  padding-top: 20px;
}

.repair {
  width: 70%;
  padding-top: 15px;
}

.budapest {
  background-color: rgb(31, 38, 57, 0.7);
  border-radius: 10px;
  margin: auto;
  text-align: center;
  color: aliceblue;
  font-size: x-large;
  font-weight: 600;
  width: fit-content;
  padding: 5px;
  margin-bottom: 50px;
}

#map {
  border: solid;
  border-color: black;
  border-radius: 20px;
  margin-left: 6%;
}

#main-jobs {
  background-color: rgb(31, 38, 57, 0.7);
  border-radius: 10px;
  margin: auto;
  text-align: center;
  color: aliceblue;
  font-size: xx-large;
  font-weight: 600;
  width: fit-content;
  padding: 5px;
  margin-bottom: 50px;
}

#jobs1 {
  background-color: rgb(31, 38, 57, 0.7);
  border-radius: 10px;
  border: solid;
  border-color: black;
  color: aliceblue;
  width: 250px;
  height: 70px;
  font-size: xx-large;
  font-weight: 400;
  margin-left: 22%;
  margin-bottom: 40px;
  padding: 5px;
}

#jobs2 {
  background-color: rgb(31, 38, 57, 0.7);
  border-radius: 10px;
  border: solid;
  border-color: black;
  color: aliceblue;
  width: 220px;
  height: 70px;
  font-size: xx-large;
  font-weight: 400;
  margin-left: 62%;
  margin-bottom: 40px;
  padding: 5px;
}

#jobs3 {
  background-color: rgb(31, 38, 57, 0.7);
  border-radius: 10px;
  border: solid;
  border-color: black;
  color: aliceblue;
  width: 480px;
  height: 80px;
  font-size: xx-large;
  font-weight: 400;
  margin-left: 7%;
  margin-bottom: 40px;
  padding: 5px;
}

#jobs4 {
  background-color: rgb(31, 38, 57, 0.7);
  border-radius: 10px;
  border: solid;
  border-color: black;
  color: aliceblue;
  width: 280px;
  height: 70px;
  font-size: xx-large;
  font-weight: 400;
  margin-left: 62%;
  margin-bottom: 40px;
  padding: 5px;
}

#jobs5 {
  background-color: rgb(31, 38, 57, 0.7);
  border-radius: 10px;
  border: solid;
  border-color: black;
  color: aliceblue;
  width: 360px;
  height: 70px;
  font-size: xx-large;
  font-weight: 400;
  margin-left: 15%;
  margin-bottom: 50px;
  padding: 5px;
}

#job-pic1 {
  float: right;
  border-radius: 10px;
  width: 20%;
  padding-right: 5px;
  padding-bottom: 5px;
  filter: invert();
}

#job-pic2 {
  float: right;
  border-radius: 10px;
  width: 15%;
  padding-right: 5px;
  padding-bottom: 5px;
  filter: invert();
}

#job-pic3 {
  float: right;
  border-radius: 10px;
  width: 12%;
  padding-right: 5px;
  padding-bottom: 5px;
}

#job-pic4 {
  float: right;
  border-radius: 10px;
  width: 20%;
  padding-right: 5px;
  padding-bottom: 5px;
  filter: invert();
}

#job-pic5 {
  float: right;
  border-radius: 10px;
  width: 15%;
  padding-right: 5px;
  padding-bottom: 5px;
}

#line {
  position: absolute;
  top: 300%;
  left: 33.5%;
  height: 70%;
}

/* COMPANY INFOS */

.ad {
  font-size: large;
  font-weight: 600;
  background-color: aliceblue;
  border-style: solid;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.ad-pic {
  background: transparent;
  width: 60px;
  height: 40px;
}

#Reagan-quote {
  font-size: larger;
  text-align: center;
  color: aliceblue;
  background-color: rgb(31, 38, 57, 0.7);
  border-radius: 10px;
  width: 600px;
  display: flex;
  overflow-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

#Reagen-pic {
  float: right;
  width: 200px;
  border: solid;
  border-width: thin;
  border-color: black;
  border-radius: 10px;
}

#al-hierarchy {
  color: rgba(206, 28, 28, 0.61);
  width: 330px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 10px;
  position: absolute;
  top: 34%;
  left: 80px;
}

#al-informations {
  color: rgba(32, 56, 244, 0.904);
  width: 300px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 10px;
  position: absolute;
  top: 44%;
  left: 80px;
}

#al-stats {
  color: rgba(39, 127, 17, 0.61);
  width: 290px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 10px;
  position: absolute;
  top: 54%;
  left: 80px;
}

#hierarchy-logo {
  width: 18%;
  display: flex;
  float: right;
  text-align: center;
  padding-right: 15px;
  padding-bottom: 3px;
}

#info-logo {
  width: 20%;
  display: flex;
  float: right;
  text-align: center;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#stats-logo {
  width: 25%;
  display: flex;
  float: right;
  text-align: center;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.company-sections {
  color: aliceblue;
  font-size: xx-large;
  font-weight: 800;
  background-color: rgb(31, 38, 57, 0.7);
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  margin-top: 80px;
  padding: 10px;
  text-align: center;
}

#company-name {
  display: flex;
  width: fit-content;
  padding: 5px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
  font-weight: 800;
  color: aliceblue;
  background-color: rgb(31, 38, 57, 0.7);
  border: solid;
  border-color: black;
}

.company-hierarchy {
  position: relative;
  text-align: center;
}

#hierarchy {
  width: 90%;
  border-radius: 10px;
}

#leaders {
  position: absolute;
  font-size: x-large;
  font-weight: 600px;
  top: 160px;
  left: 510px;
  border: solid;
}

#nonworkers1 {
  position: absolute;
  font-size: x-large;
  font-weight: 600;
  border: solid;
  top: 150px;
  left: 150px;
  width: 400px;
  width: 290px;
  padding: 5px;
}

#nonworkers2 {
  position: absolute;
  font-size: x-large;
  font-weight: 600;
  border: solid;
  top: 150px;
  right: 150px;
  width: 290px;
  padding: 5px;
}

#down-arrow {
  transform: rotate(180deg);
  display: flex;
  width: 13%;
  float: left;
  padding: 0;
}

#down-arrow2 {
  transform: rotate(180deg);
  display: flex;
  width: 13%;
  float: right;
  padding: 0;
}

#informations {
  background-color: rgb(31, 38, 57, 0.7);
  border: solid;
  border-radius: 10px;
  border-color: black;
  font-size: x-large;
  font-weight: 600;
  width: max-content;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  color: aliceblue;
  padding: 10px;
}

.stats {
  position: relative;
  margin-bottom: 20px;
}

#stat1 {
  margin-left: 50px;
  margin-top: 60px;
  border-radius: 10px;
}

#stat2 {
  margin-top: -60px;
  margin-left: 150px;
  border-radius: 10px;
}

#stat3 {
  margin-left: 50px;
  margin-top: 60px;
  border-radius: 10px;
  width: 60%;
}

#stat4 {
  margin-left: 50px;
  margin-top: 60px;
  border-radius: 10px;
  width: 30%;
}

#stat5 {
  margin-left: 50px;
  margin-top: 60px;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 80px;
}

#stat-wr1 {
  position: absolute;
  background-color: rgb(31, 38, 57, 0.7);
  color: aliceblue;
  border: solid;
  border-color: black;
  border-radius: 10px;
  top: 8px;
  left: 45px;
  font-size: x-large;
  font-weight: 500;
  padding: 5px;
}

#stat-wr2 {
  position: absolute;
  background-color: rgb(31, 38, 57, 0.7);
  color: aliceblue;
  border: solid;
  border-color: black;
  border-radius: 10px;
  top: 102px;
  right: 100px;
  font-size: x-large;
  font-weight: 500;
  padding: 5px;
}

#stat-wr3 {
  position: absolute;
  background-color: rgb(31, 38, 57, 0.7);
  color: aliceblue;
  border: solid;
  border-color: black;
  border-radius: 10px;
  top: 42%;
  left: 50px;
  font-size: x-large;
  font-weight: 500;
  padding: 5px;
}

#stat-wr4 {
  position: absolute;
  background-color: rgb(31, 38, 57, 0.7);
  color: aliceblue;
  border: solid;
  border-color: black;
  border-radius: 10px;
  top: 42%;
  right: 50px;
  font-size: x-large;
  font-weight: 500;
  padding: 5px;
}

#stat-wr5 {
  position: absolute;
  background-color: rgb(31, 38, 57, 0.7);
  color: aliceblue;
  border: solid;
  border-color: black;
  border-radius: 10px;
  bottom: 10px;
  left: 250px;
  font-size: x-large;
  font-weight: 500;
  padding: 5px;
}

/* INTERIOR */

.int-desc {
  color: aliceblue;
  font-size: x-large;
  font-weight: 600;
  background-color: rgb(31, 38, 57, 0.7);
  width: 300px;
  height: 360px;
  text-align: center;
  border-radius: 5px;
  padding-top: 30px;
}

#int-desc-long {
  padding-top: 0;
}

#alert-pic {
  filter: none;
}

#al-coating {
  color: rgba(248, 212, 6, 0.61);
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 10px;
  margin-left: 30%;
  margin-top: 100px;
}

#al-paint {
  color: rgb(207, 90, 32);
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10%;
  margin-top: 100px;
}

#coating-logo {
  width: 25%;
  display: flex;
  float: right;
  text-align: center;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#paint-logo {
  width: 30%;
  display: flex;
  float: right;
  text-align: center;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 5px;
}

#gipsz-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#komuves-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#kisserno-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#iksz-pic {
  display: flex;
  width: 30%;
  height: 30%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

/* EXTERIOR */

.ext-desc {
  color: aliceblue;
  font-size: xx-large;
  font-weight: 500;
  background-color: rgb(31, 38, 57, 0.7);
  width: 400px;
  height: 450px;
  text-align: center;
  border-radius: 5px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto;
  margin: auto;
}

#ext-logo2 {
  width: 60%;
}

#al-coating2 {
  color: rgba(248, 212, 6, 0.61);
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 10px;
  margin-left: 30%;
  margin-top: 13%;
}

#al-paint2 {
  color: rgb(207, 90, 32);
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10%;
  margin-top: 13%;
}

#koszos-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#ordog-pic {
  display: flex;
  width: 30%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#vollein-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#kissbela-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

/* UTILITIES */

.desc-container {
  display: flex;
  justify-content: space-between;
  height: 330px;
  margin-top: 50px;
}

.ut-desc {
  color: aliceblue;
  font-size: xx-large;
  font-weight: 600;
  background-color: rgb(31, 38, 57, 0.7);
  width: 300px;
  text-align: center;
  border-radius: 5px;
}

#gas-logo {
  width: 30%;
  height: 70%;
  display: flex;
  float: right;
  margin-top: 5px;
  text-align: center;
  padding-right: 5px;
}

#water-logo {
  width: 35%;
  display: flex;
  float: right;
  text-align: center;
  padding-right: 5px;
}

#electricity-logo {
  width: 25%;
  height: 80%;
  display: flex;
  float: right;
  margin-top: 5px;
  text-align: center;
  padding-right: 5px;
}

#al-electricity {
  color: gold;
  width: 205px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 25%;
}

#al-water {
  color: rgb(59, 140, 215);
  width: 120px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10%;
}

#al-gas {
  color: green;
  width: 118px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10%;
}

#magneto-pic {
  display: flex;
  width: 60%;
  height: 60%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#goku-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#boucher-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#aquaman-pic {
  display: flex;
  width: 60%;
  height: 60%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#putin-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

#rockefeller-pic {
  display: flex;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

/* Footer */

.Footer {
  background-color: rgb(31, 38, 57, 0.7);
  color: aliceblue;
  font-size: larger;
  border-top: solid;
  border-width: thick;
  border-color: black;
  margin-top: 10px;
}

#footer-logo {
  display: flex;
  width: 50%;
  border-radius: 20px;
  margin-top: 20px;
}

.copyright {
  text-align: center;
  background-color: rgb(31, 38, 57, 0.7);
  text-decoration: overline;
  color: aliceblue;
  font-size: larger;
  padding-bottom: 30px;
}

/* SIGN UP CONTAINER */

#sign-up-container,
#login-container,
#sign-up-success-container {
  margin-top: 10%;
  margin-bottom: 10%;
  max-width: 600px;
  background-color: rgb(31, 38, 57, 0.7);
  padding: 1.5%;
  border-radius: 10%;
}

#sign-up-header,
#login-header,
#sign-up-success-header {
  text-align: center;
  color: rgb(233, 223, 223);
  margin-bottom: 20px;
}

#submit-button-container,
#forward-to-login-container {
  display: flex;
  justify-content: end;
}

#submit-button {
  width: 200px;
}
